In [36]:
%load_ext autoreload
%autoreload 2

In [37]:
import os

In [53]:
data_path = os.getcwd()[:-10]
path = os.path.join(data_path, 'ScrapChef/data')
path

'/Users/yunxizzy/code/izzyunxi/ScrapChef/ScrapChef/data'

# import data

## dataset 1

In [1]:
import pandas as pd

In [54]:
data_1 = pd.read_csv(os.path.join(path,'recipes_82k.csv'))

In [20]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82245 entries, 0 to 82244
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        18107 non-null  object
 1   cooking_method  82245 non-null  object
 2   cuisine         82230 non-null  object
 3   image           82245 non-null  object
 4   ingredients     82245 non-null  object
 5   prep_time       58630 non-null  object
 6   recipe_name     82245 non-null  object
 7   serves          82244 non-null  object
 8   tags            82011 non-null  object
dtypes: object(9)
memory usage: 5.6+ MB

In [6]:
data_1.head()

,category,cooking_method,cuisine,image,ingredients,prep_time,recipe_name,serves,tags
0,NaN,['Set the racks in the middle and upper thirds...,['American'],https://www.skinnytaste.com/wp-content/uploads...,"['1 tablespoons extra virgin olive oil', '1 cu...",20 minutes,Mediterranean Sea Bass,4 servings,"Dairy Free, Gluten Free, Keto Recipes, Kid Fri..."
1,NaN,['Place the eggs in the air fryer basket and c...,['American'],https://www.skinnytaste.com/wp-content/uploads...,"['4 large eggs', 'Salt (black pepper, everythi...",15 minutes,Air Fryer Hard Boiled Eggs,4 eggs,"Air Fryer Recipes, Dairy Free, Gluten Free, Ke..."
2,NaN,"['Air Fryer directions:', 'Preheat air fryer t...",['American'],https://www.skinnytaste.com/wp-content/uploads...,"['olive oil spray', '4 about 5 ounce each salm...",5 minutes,Air Fryer Basil-Parmesan Salmon,4 servings,"Air Fryer Recipes, Gluten Free, Keto Recipes, ..."
3,NaN,"['Preheat the oven to 400F.', 'Pour 2 tablespo...",['American'],https://www.skinnytaste.com/wp-content/uploads...,['1/2 cup freshly grated Parmesan (not pre-gra...,15 minutes,Everything Parmesan Crisps,4 servings,"Gluten Free, Keto Recipes, Kid Friendly, Low C..."
4,NaN,['Cook potatoes in a large pot of salted water...,['American'],https://www.skinnytaste.com/wp-content/uploads...,['3 1/2 pounds new potatoes (about 10 peeled a...,10 minutes,Potato and Green Bean Salad,12 servings,"Dairy Free, Gluten Free, Kid Friendly, Vegetar..."

In [23]:
data_1.isnull().sum()/data_1.isnull().count()

category          0.779841
cooking_method    0.000000
cuisine           0.000182
image             0.000000
ingredients       0.000000
prep_time         0.287130
recipe_name       0.000000
serves            0.000012
tags              0.002845
dtype: float64

### missing values

In [28]:
data_1.drop(columns=['category'], inplace=True)

In [29]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82245 entries, 0 to 82244
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cooking_method  82245 non-null  object
 1   cuisine         82230 non-null  object
 2   image           82245 non-null  object
 3   ingredients     82245 non-null  object
 4   prep_time       58630 non-null  object
 5   recipe_name     82245 non-null  object
 6   serves          82244 non-null  object
 7   tags            82011 non-null  object
dtypes: object(8)
memory usage: 5.0+ MB

In [32]:
data_1.cuisine.value_counts()

[]                                    80847
['American']                           1018
['Italian']                             145
['Mexican']                              93
['Chinese', 'Japanese']                  67
['Mediterranean']                        18
['Indian']                                9
['American', 'Italian']                   7
['American', 'Mexican']                   5
['Asian']                                 4
['Latin']                                 3
['American', 'Latin']                     2
['Latin', 'Mexican']                      2
['Asian', 'Chinese']                      1
['Asian', 'Hawaiian']                     1
['American', 'Cuban', 'Latin']            1
['American', 'Argentinian']               1
['Brazilian']                             1
['Tex Mex']                               1
['American', 'Czech', 'Hungarian']        1
['Cuban', 'Latin']                        1
['American', 'Greek']                     1
['American', 'Tex Mex']                   1
Name: cuisine, dtype: int64

In [35]:
data_1.prep_time.value_counts()

P0Y0M0DT0H10M0.000S           11060
P0Y0M0DT0H15M0.000S            9721
P0Y0M0DT0H20M0.000S            8057
P0Y0M0DT0H5M0.000S             6521
P0Y0M0DT0H30M0.000S            4657
                              ...
Total: 2 hr 10 min minutes        1
P0Y0M0DT1H2M0.000S                1
60939.0 minutes                   1
28 minutes                        1
840 minutes                       1
Name: prep_time, Length: 389, dtype: int64

In [71]:
print(data_1.ingredients[0])

['1 tablespoons extra virgin olive oil', '1 cup chopped yellow onion', '3 cloves garlic (minced)', '1/4 teaspoon crushed red pepper flakes (or to taste)', '1/2 cup chopped fennel', 'One 28 ounce can whole peeled tomatoes (with their juices)', '3/4 cup fresh basil leaves (very thinly sliced)', '1/2 cup dry white wine', '1/4 cup pitted Kalamata olives (halved)', 'Kosher salt', 'Freshly ground pepper', 'Four 4-6 ounce skinless Chilean sea bass fillets (or other sustainable firm white-fleshed fish fillets such as halibut, cod or striped bass)', 'Organic olive oil cooking spray', 'Kosher salt', 'Freshly ground black pepper', '1 tablespoon extra-virgin olive oil']

In [70]:
print(data_1.cooking_method[0])

['Set the racks in the middle and upper thirds of the oven and preheat the oven to 425 F', 'In a large skillet over medium heat, heat the olive oil until shimmering. Add the onion, garlic and red pepper flakes and cook until golden, stirring occasionally, about 5 minutes.', 'Add the fennel and cook until the vegetables are soft and translucent, an additional 3 to 5 minutes.', 'Reduce the heat to medium and add the tomatoes with their juices. Using the back of a wooden spoon, smash the tomatoes and cook for 5 minutes.', 'Add the basil, wine, olives, 1 teaspoon salt, and 1/8 teaspoon black pepper.', 'Reduce to low and simmer for 15 minutes, or until the sauce is slightly thickened, while you prepare the fish.', 'Pat the fillets dry, lightly spray them with cooking spray, and season with salt and pepper.', 'In a heavy ovenproof skillet over high heat, heat the olive oil until shimmering. Add the fillets, rounded-side down, and cook for 2 minutes.', 'Carefully flip the fillets with a metal spatula and place the skillet in the oven. Bake until the fish is no longer translucent, 8 to 10 minutes.', 'Switch the oven to broil and place the skillet on the upper rack. Broil until the tops of the fillets are golden brown, 2 to 4 minutes.', 'Arrange the fillets on individual plates, spoon on the sauce, and serve.']

## dataset 2

In [76]:
data_2 = pd.read_csv(os.path.join(path, 'clean_raw_recipes.csv'))

In [77]:
data_2.head()

,RecipeName,Recipe_id,minutes,contributor_id,UploadDate,tags,nutrition,n_steps,steps,ingredients,TotalIngred
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...","['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...","['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...","['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [72]:
data_2.isnull().sum()/data_2.isnull().count()

RecipeName        0.000004
Recipe_id         0.000000
minutes           0.000000
contributor_id    0.000000
UploadDate        0.000000
tags              0.000000
nutrition         0.000000
n_steps           0.000000
steps             0.000000
ingredients       0.000000
TotalIngred       0.000000
dtype: float64

In [73]:
data_2.dropna(inplace=True)

In [74]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231636 entries, 0 to 231636
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   RecipeName      231636 non-null  object
 1   Recipe_id       231636 non-null  int64
 2   minutes         231636 non-null  int64
 3   contributor_id  231636 non-null  int64
 4   UploadDate      231636 non-null  object
 5   tags            231636 non-null  object
 6   nutrition       231636 non-null  object
 7   n_steps         231636 non-null  int64
 8   steps           231636 non-null  object
 9   ingredients     231636 non-null  object
 10  TotalIngred     231636 non-null  int64
dtypes: int64(5), object(6)
memory usage: 21.2+ MB

## dataset 3

In [79]:
data_3 = pd.read_csv(os.path.join(path, 'recipes.csv'))

ParserError: Error tokenizing data. C error: Expected 8 fields in line 5, saw 14

## dataset 4

In [61]:
data_4 = pd.read_csv(os.path.join(path, 'RAW_recipes.csv'))

In [62]:
data_4.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [80]:
data_4.isnull().sum()/data_4.isnull().count()

name              0.000004
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
tags              0.000000
nutrition         0.000000
n_steps           0.000000
steps             0.000000
description       0.021495
ingredients       0.000000
n_ingredients     0.000000
dtype: float64

In [ ]:
data_4.drop(columns='')

## feature selection

In [ ]:
features = ['']